

@media (min-width: 1536px){
  #floating-div{
  right: 31%;
  top: -65px;
}
}
#tip{
  position: absolute;
  right: 15%;
  top: -3%;
}



    /*Toast close animation*/
    .alert-footer {
      -webkit-animation: slide-in-bottom 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
      animation: slide-in-bottom 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    }

    /*Footer close animation*/
    .alert-footer input:checked~* {
      -webkit-animation: slide-out-bottom 0.5s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
      animation: slide-out-bottom 0.5s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
    }


    @keyframes slide-out-bottom {
      0% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
        opacity: 1;
      }

      100% {
        -webkit-transform: translatex(10px);
        transform: translatex(10px);
        opacity: 0;
      }
    }